.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    gap: 10px;
    position: relative;
    width: 300px;
}

.info {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 8px;
}

.name,
.number {
    font-size: 16px;
}

.deleteButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #d3d3d3;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

.deleteButton:hover {
    background-color: #f61919;
}